html {
    height: 100%;
}

body {
    margin: inherit;
    height: 100%;
    background-color: rgb(249, 235, 255);
}

/* =========== L'en-tête de la page =========== */
#tête {
    background: url(japan-banner.jpg) no-repeat center top;
    background-size: 100% auto;
    height: 180px;
    border: 1px purple solid;
}

h1 {
    font-family: "Freestyle Script";
    font-size: 75px;
    font-weight: lighter;
    color: white;
    margin-left: 55px;
    margin-top: 10px;
}

/* =========== Le sommaire de la page =========== */
#sommaire {
    font-family: "Calibri";
    padding-left: 150px;
}

h2 {
    font-size: 25px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 22px;

}

a:visited {
    color: purple;
    text-decoration: none;
}


/* =========== Généralité du corps de la page =========== */
h3 {
    font-family: "Calibri";
    font-size: 25px;
    text-decoration: underline;
}

h4 {
    font-family: "Calibri";
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

p {
    font-family: "Calibri";
    font-size: 18px;
    text-align: justify;
}

#corps {
    margin-left: 150px;
    margin-right: 150px;
}

.choix-nbr-personne select,input,label{
    margin-left: 0.5em;
}
.choix-nbr-personne label{
    font-family: "Calibri";
    font-size: 18px;
}

/* =========== Section Soba de la page =========== */
#partie-soba {
    /* border: 2px red solid; */
}

#image-soba {
    float: left;
    margin-left: 30px;
}

#legende-image-soba {
    height: 20px;
    font-family: "Calibri";
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#texte-soba {
    margin-left: 270px;
    margin-right: 30px;
}

#liste-ingredients-soba {
    margin-left: 30px;
}

#detail-liste-ingredients-soba{ 
    visibility: hidden;
    font-family: "Calibri";
    font-size: 18px;
    margin-left: 50px;
}

/* =========== Section Okonomiyaki de la page =========== */
#partie-okonomiyaki {
    /* border: 2px red solid; */
}

#image-okonomiyaki {
    float: left;
    margin-left: 30px;
}

#legende-image-okonomiyaki {
    height: 20px;
    font-family: "Calibri";
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

#texte-okonomiyaki {
    margin-left: 270px;
    margin-right: 30px;
}

#liste-ingredients-okonomiyaki {  
    margin-left: 30px; 
    margin-top: 90px;  
}

#detail-liste-ingredients-okonomiyaki{ 
    visibility: hidden;
    font-family: "Calibri";
    font-size: 18px;
    margin-left: 50px;
}

/* =========== Pied de la page =========== */
#pied-de-page {
    font-family: "Calibri";
    font-size: 18px;
}